<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ca.taglab.PictureFrame"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-sdk android:minSdkVersion="17"/>
    <uses-feature android:name="android.hardware.camera" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="ca.taglab.PictureFrame.MessageHistoryActivity"
                  android:label="@string/title_activity_message_history"
                  android:parentActivityName="ca.taglab.PictureFrame.MyActivity"
                  android:theme="@style/Theme.CustomTranslucent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.taglab.PictureFrame.MyActivity" />
        </activity>
        <activity android:name="ca.taglab.PictureFrame.ScreenSlideActivity"
                  android:label="@string/title_screen_slide"
                  android:parentActivityName="ca.taglab.PictureFrame.MyActivity"
                  android:uiOptions="splitActionBarWhenNarrow">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="ca.taglab.PictureFrame.MyActivity" />
        </activity>
        <activity android:name=".email.MailSenderActivity"
                  android:label="@string/title_activity_mail_sender"
                  android:parentActivityName="ca.taglab.PictureFrame.MyActivity">
             <meta-data android:name="android.support.PARENT_ACTIVITY"
                        android:value="ca.taglab.PictureFrame.MyActivity" />
        </activity>
        <provider android:name=".provider.UserContentProvider"
                  android:authorities="ca.taglab.PictureFrame.provider" >
        </provider>
    </application>
</manifest>
