<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ca.taglab.PictureFrame"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.NFC" />
    <uses-sdk android:minSdkVersion="17"
              android:targetSdkVersion="18" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="ca.taglab.PictureFrame.MessageHistoryActivity"
                  android:label="@string/title_activity_message_history"
                  android:parentActivityName="ca.taglab.PictureFrame.MyActivity"
                  android:theme="@style/Theme.CustomTranslucent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.taglab.PictureFrame.MyActivity" />
        </activity>
        <activity android:name="ca.taglab.PictureFrame.ScreenSlideActivity"
                  android:label="@string/title_view_gallery"
                  android:parentActivityName="ca.taglab.PictureFrame.MyActivity"
                  android:uiOptions="splitActionBarWhenNarrow">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="ca.taglab.PictureFrame.MyActivity" />
        </activity>
        <activity android:name=".database.AddPicture"
                  android:label="@string/title_add_picture"
                  android:parentActivityName="ca.taglab.PictureFrame.MyActivity" />
        <activity android:name=".database.AddExistingPicture"
                  android:label="@string/title_add_existing_picture"
                  android:parentActivityName="ca.taglab.PictureFrame.MyActivity" />
        <activity android:name="ca.taglab.PictureFrame.AudioRecorderActivity"
                  android:label="@string/title_audio_recorder"
                  android:parentActivityName="ca.taglab.PictureFrame.ScreenSlideActivity"
                  android:screenOrientation="landscape" />
        <activity android:name="ca.taglab.PictureFrame.LoginActivity"
                  android:label="@string/title_log_in"
                  android:parentActivityName="ca.taglab.PictureFrame.MyActivity" />
        <activity android:name="ca.taglab.PictureFrame.ReceiveMailActivity"
                  android:label="@string/title_receive_mail"
                  android:parentActivityName="ca.taglab.PictureFrame.MyActivity" />
        <activity android:name="ca.taglab.PictureFrame.NfcSetupActivity"
                  android:label="@string/title_nfc_setup"
                  android:parentActivityName="ca.taglab.PictureFrame.MyActivity" />
        <activity android:name="ca.taglab.PictureFrame.NfcLoginActivity"
                  android:label="@string/title_nfc_login"
                  android:parentActivityName="ca.taglab.PictureFrame.MyActivity" />
        <provider android:name=".provider.UserContentProvider"
                  android:authorities="ca.taglab.PictureFrame.provider" >
        </provider>
    </application>
</manifest>
